html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: arial, helvetica;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.stock {
    height:40px;
}
.stock a:hover,.stock a:link,.stock a:visited { text-decoration: none; color:#000; }
.stock div{
    float:left;
    color:#000;
}
.stock .ticker{
    text-transform: uppercase;
    width:10%;
    padding:10px;
    font-size:19px;
}
.stock .change{
    width:20%;
    padding:10px;
}
.stock .current{
    width:20%;
    padding:10px;
}
.stock .shares{
    font-size:12px;
    padding:10px 10px 0 0;
}
.stock .sharesButton{
    font-size:12px;
    padding-top:3px;
}
.stock .sharesInput{
    font-size:12px;
}

.on{
    display:block;
}
.off{
    display:none;
}


.stock .control-column{
    width:20%;
    padding:10px;
}
.stock .control-column .remove{
    font-size:12px;
    padding-top:3px;
}

.stock .desc{
    font-size:10px;
}
