<header>


</header>
<form>
    
     <div class="stock">
        <div class="ticker"> {{stock.name}} </div>
        <div class="change">
            <span class="desc"> change</span>
            <span class="data"> {{stock.percentChange}} </span>
        </div>
        <div class="current">
            <span class="desc"> current</span>
            <span class="data"> {{stock.val}} </span>
        </div> 
        <div class="control-column">
            <div class="remove">
            <a href="#" (click)="removeStock(stock)" class="remove-stock">[-] Remove Stock</a>
            </div>
        </div>         
      </div>   
    
    
<form (submit)="saveStock(stock)">
  <label>Name</label>
  <input type="text" [(ngModel)]="stock.name">
  
  <label>Description</label>
  <input type="text" [(ngModel)]="stock.description">
 
  <label>Location</label>
  <input type="text" [(ngModel)]="stock.location">
 
  <button type="submit">Save</button>
  <button [routerLink]="['/PageLayout']">Cancel</button>
</form>
<a [routerLink]="['PageLayout']">back to list</a>