
<div class="row"  *ngFor="#stock of sList" style="background-color:lavenderblush;">
  <div class="col-md-2 item-col">
     <div  class="ticker item">{{stock.ticker}}</div> 
  </div>
  <div class="col-md-6 item-col" style="background-color:lavender;">
    <div class="percent text-left" >
      <span class="desc">percent</span> 
      <span class="data"> {{stock.percentChange}}% </span>
    </div>
    <div class="current text-left">
      <span class="desc">change</span>
      <span class="data"> {{stock.current}}  </span>
    </div>
    <div class="value text-left ">
      <span class="desc" *ngIf="stock.shares > 0">value</span>
      <span class="data" *ngIf="stock.shares > 0"> {{(stock.shares * stock.current).toFixed(2) }} </span>
    </div>
  </div>
  <div class="col-md-4 item-col" style="background-color:lavenderblush;">
    <div class="shares fl">
       <stock-shares [stock]="stock"></stock-shares>
    </div>
    <div class="remove fr">
       <a href="#" (click)="removeStock(stock)" class="remove-stock">[-] Remove Stock</a>
    </div>
  </div>
</div>


    