<div class="shares">
    <span class="desc" *ngIf="stock.shares > 0"> value</span>
    <span class="data" *ngIf="stock.shares > 0"> {{stock.shares * stock.current }} </span>

    <span class="sharesButton" *ngIf="!stock.shares"  [ngClass]="showSharesInput" (click)="toggle()">[+] Add Shares </span>
 
    <span class="sharesInput" *ngIf="!stock.shares" [ngClass]="hideSharesInput">
        <input #shares>
        <a (click)="enterShares(stock.ticker,shares.value)">Enter Shares</a>
    </span>
   
</div> 

